<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="husky">
  <!-- robot name parameter -->
  <!-- <xacro:arg name="name" default="" /> -->

  <xacro:arg name="prefix" default="" />
  <xacro:include filename="$(find husky_description)/urdf/husky_macro.urdf.xacro" />

  <!-- Load husky description -->
  <xacro:husky prefix="$(arg prefix)" />


  <xacro:if value="$(arg is_sim)">

    <gazebo reference="$(arg prefix)imu_link">
      <sensor name="$(arg prefix)imu_sensor" type="imu">
      <plugin filename="libgazebo_ros_imu_sensor.so" name="$(arg prefix)imu_plugin">
          <ros>
            <namespace>$(arg prefix)</namespace>
            <remapping>~/out:=imu/data_raw</remapping>
          </ros>
          <initial_orientation_as_reference>false</initial_orientation_as_reference>
        </plugin>
        <always_on>true</always_on>
        <update_rate>100</update_rate>
        <visualize>true</visualize>
      </sensor>
    </gazebo>

    <!-- <gazebo reference="$(arg prefix)gps_link">
      <sensor name="$(arg prefix)gps_sensor" type="gps">
      <plugin filename="libgazebo_ros_gps_sensor.so" name="$(arg prefix)gps_plugin">
          <ros>
            <namespace>$(arg prefix)</namespace>
            <remapping>~/out:=gps/data</remapping>
          </ros>
        </plugin>
        <always_on>true</always_on>
        <update_rate>10</update_rate>
      </sensor>
    </gazebo> -->
    <gazebo>
    <plugin name="object_controller" filename="libgazebo_ros_planar_move.so">
      <command_topic>cmd_vel</command_topic>
      <odometry_topic>odom</odometry_topic>
      <odometry_frame>odom</odometry_frame>
      <odometry_rate>20.0</odometry_rate>
      <robot_base_frame>base_link</robot_base_frame>
      <publish_odom>true</publish_odom>
      <publish_odom_tf>true</publish_odom_tf>
    </plugin>
  </gazebo>
  </xacro:if>

</robot>
